.App-header {
  background-color: #87c0cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1.header {
  color: white;
  font-size: 28px;
  text-align: center;
  padding-bottom: 30px;
}

.buttonContainer button {
  font-size: 18px;
  border-radius: 20px;
  width: 8em;
  height: 2em;
  background: #226597;
  color: white;
  border-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer button:hover {
  background: white;
  color: #226597;
  font-weight: 400;
}

.buttonContainer a {
  padding: 2em;
}

.buttonContainer {
  padding-top: 1em;
}

img {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 40%;
  height: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
}


