#join-form .image:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#join-form .image {
    background: inherit;
    margin-left: 0;
    margin-right: 0;
}



div.profileimgs.row{
    padding: 0px;
    margin-bottom: 60px;
    margin-top: 20px;
}


.cata {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: #226597;
    /* border-width: 2px; */
    border-color: none;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cataimg {
    /* vertical-align: middle; */
    /* display: inline-flex; */
    width: 40px;
    height: auto;
    margin: 0;
    
}


/* .col div img {
    position: absolute;
    left: 2.6rem;
    top: 1.5rem;
    width: 3rem;
} */



#customized {
    position: absolute;
    top: 2.8rem;
}

#random {
    position: absolute;
    top: 2.2rem;
    left: 2.7rem;
}

.row {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;

}



.profileimg {
    width: 60px;
    height: 60px;
    margin-top: 0px;
    border-radius: 30px;
    margin-bottom: 0px;
    filter: grey;
    -webkit-filter: grayscale(0%);
    margin-left: 0px;
    margin-right: 0px
}

.profileimg:hover {
    filter: grey;
    -webkit-filter: grayscale(80%);
}

h1 {
    position: absolute;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;

}

div.col {
    width: 60px;
}
