#join-form input {
    font-size: 24px;
    border-radius: 20px;
}

#join-form button {
    font-size: 24px;
    border-radius: 20px;
    width: 250px;
    height: 2em; 
    background: #226597;
    color: white;
    display: flex;
    padding: 0px;
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;  
    margin-top: 50px;
}

#join-form {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

.errorContainer #error {
    visibility: hidden;
    width: 600px;
    text-align: center;
}
 
.errorContainer {
    display: flex;
    justify-content: center;
}

div .profileimgs .row{
    padding: 0px;
    margin-bottom: 60px;
    margin-top: 20px;
}

#newRoom-form {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}


.cata {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: #226597;
    border-color: none;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.cataimg {
    width: 40px;
    height: auto;
    margin: 0;
    
}

.row {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;

}

.profileimg {
    width: 60px;
    height: 60px;
    margin-top: 0px;
    border-radius: 30px;
    margin-bottom: 0px;
    filter: grey;
    -webkit-filter: grayscale(0%);
    margin-left: 0px;
    margin-right: 0px
}

.profileimg:hover {
    filter: grey;
    -webkit-filter: grayscale(80%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.col h3 {
    padding-top: 2vh;
    text-align: center;
}

h1 .header {
    position: absolute;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.delete {
    left: 20px;
    width: 36px;
    position: relative;
}

.delete:hover {
   background-color: rgba(146, 224, 198, 0.274);
   border-radius: 100%;
   padding: 2px;
}

.add {
    text-align: center;
    margin-top: 15px;
    margin-left: 25%;
    margin-right: 25%;
}

.addCustomQuestions label {
    margin-top: 10px;
}

.addQuestionContainer input {
    width: 315px;
}

.questionListContainer {
    bottom: 10px;
}

.addQuestionContainer {
    bottom: 4px;
}

@media (max-width:480px)  {
    .errorContainer #error {
        font-size: 14px;
        width: 300px;
    }
    
    #join-form h1 {
        font-size: 24px;
    }

    #join-form input, #join-form label {
        font-size: 14px;
    }

    #join-form button {
        font-size: 14px;
        width: 150px;
    }

    .profileimgs .col {
        padding: 1px;
    }
}

@media (min-width: 576px) { 
    .modal-dialog {
        max-width: 850px !important;
    }

}