.App-header {
  background-color: #92b2f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  color: black;
  font-size: 5em;
  text-align: center;
}

.buttonContainer button {
  font-size: 2vw;
  border-radius: 20px;
  width: 8em;
  height: 2em;
}

.buttonContainer button:hover {
  background: #82a5e9;
  color: white;
}

.buttonContainer a {
  padding: 2em;
}

.buttonContainer {
  padding-top: 1em;
}

